version: '3.8'

services:
  quarkus-native-image:
    image: quarkus-native-image
    container_name: quarkus-native-image
    ports:
      - "8080:8083"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:mysql://host.docker.internal:3306/cp-plateforme
      - QUARKUS_DATASOURCE_USERNAME=root
      - QUARKUS_DATASOURCE_PASSWORD=
      - QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION=none
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - quarkus-native-image
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - monitoring

networks:
  monitoring: